interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.helioviewer.org/v2/getDataSources/
  response:
    body:
      string: '{"SDO":{"HMI":{"continuum":{"sourceId":18,"nickname":"HMI Int","layeringOrder":1,"start":"2010-12-06
        06:53:41","end":"2022-05-28 09:28:22","uiLabels":[{"label":"Observatory","name":"SDO"},{"label":"Instrument","name":"HMI"},{"label":"Measurement","name":"continuum"}]},"magnetogram":{"sourceId":19,"nickname":"HMI
        Mag","layeringOrder":1,"start":"2010-12-06 06:53:41","end":"2022-05-28 09:26:52","uiLabels":[{"label":"Observatory","name":"SDO"},{"label":"Instrument","name":"HMI"},{"label":"Measurement","name":"magnetogram"}]}},"AIA":{"4500":{"sourceId":17,"nickname":"AIA
        4500","layeringOrder":1,"start":"2010-06-02 00:05:45","end":"2022-05-28 10:00:06","uiLabels":[{"label":"Observatory","name":"SDO"},{"label":"Instrument","name":"AIA"},{"label":"Measurement","name":"4500"}]},"1700":{"sourceId":16,"nickname":"AIA
        1700","layeringOrder":1,"start":"2010-06-23 00:00:32","end":"2022-05-28 11:24:29","uiLabels":[{"label":"Observatory","name":"SDO"},{"label":"Instrument","name":"AIA"},{"label":"Measurement","name":"17[...]
- request:
    body: action=getDataSources
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.helioviewer.org/
  response:
    body:
      string: '{"SDO":{"HMI":{"continuum":{"sourceId":18,"nickname":"HMI Int","layeringOrder":1,"start":"2010-12-06
        06:53:41","end":"2022-05-28 09:28:22","uiLabels":[{"label":"Observatory","name":"SDO"},{"label":"Instrument","name":"HMI"},{"label":"Measurement","name":"continuum"}]},"magnetogram":{"sourceId":19,"nickname":"HMI
        Mag","layeringOrder":1,"start":"201[...]
